.navbar {
  background: #3E1E68;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: right;
  color: white;
}

.nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-list li a:hover {
  color: #e6f1f1;
}
