.about-section {
    height: 600px;
    width: 100%;
    background-color: #ECEEDF;
    display: flex;
    justify-content: space-between;
    

}
.discription {

    height: 400px;
    /* background-color: #ef0b0b; */
    width: 40%;
    padding: 20px;
    font-size: 18px;
    color: #113F67;
    margin-top: 100px;
    padding-left: 50px;
}
.profile-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.primary-btn {
  background-color: #112D4E;
  color: white;
}

.primary-btn:hover {
  background-color: #0056b3;
}

.secondary-btn {
  background-color: #112D4E;
  color: #ddd;
}

.secondary-btn:hover {
    color: black;
  background-color: #ddd;
}
